.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}

.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

.cari {
  width: 1200px;
  height: 400px;
}

.box {
  height: 150px;
}

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}

a {
  text-decoration: none;
}

.or {
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
}

#hero {
  width: 100%;
  height: 100vh;
  background: url("../images/landing.jpg") top center;
  background-size: cover;
  position: relative;
}

.text-judul {
  font-size: 2.8rem;
}

.text-p {
  font-size: 1.6rem;
}

.testimonials-clean {
  color: #313437;
  background-color: #eef4f7;
}

.testimonials-clean p {
  color: #7d8285;
}

.testimonials-clean h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width: 767px) {
  .testimonials-clean h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.testimonials-clean .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.testimonials-clean .intro p {
  margin-bottom: 0;
}

.testimonials-clean .people {
  padding: 50px 0 20px;
}

.testimonials-clean .item {
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .testimonials-clean .item {
    height: 220px;
  }
}

.testimonials-clean .item .box {
  padding: 30px;
  background-color: #fff;
  position: relative;
}

.testimonials-clean .item .box:after {
  content: "";
  position: absolute;
  left: 30px;
  bottom: -24px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-width: 12px 15px;
  border-top-color: #fff;
}

.testimonials-clean .item .author {
  margin-top: 28px;
  padding-left: 25px;
}

.testimonials-clean .item .name {
  font-weight: bold;
  margin-bottom: 2px;
  color: inherit;
}

.testimonials-clean .item .title {
  font-size: 13px;
  color: #9da9ae;
}

.testimonials-clean .item .description {
  font-size: 15px;
  margin-bottom: 0;
}

.testimonials-clean .item img {
  max-width: 40px;
  float: left;
  margin-right: 12px;
  margin-top: -5px;
}

/*
  breakpoint/responsive
*/
/*
@media (min-width: 425px) {
  .cari {
    width: 450px;
    height: 150px;
    border-radius: 0.5rem;
  }

  .display-4 {
    font-size: calc(1.3rem + 0.1vw);
  }

  .lead {
    font-size: 0.55rem;
  }

  .btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: .5rem;
    border-radius: 0.2rem;
}
}

@media (min-width: 576px) {
  .cari {
    width: 450px;
    height: 150px;
    border-radius: 0.5rem;
  }

  .display-4 {
    font-size: calc(1.475rem + 0.01vw);
  }

  .lead {
    font-size: 0.6rem;
  }

  .btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: .675rem;
    border-radius: 0.2rem;
}
}

@media (min-width: 768px) {
  .cari {
    width: 450px;
    height: 150px;
    border-radius: 0.5rem;
  }

  .display-4 {
    font-size: calc(1.475rem + 0.4vw);
  }

  .lead {
    font-size: 0.7rem;
  }

  .btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: .775rem;
    border-radius: 0.2rem;
}
}

@media (min-width: 992px) {
  .cari {
    width: 450px;
    height: 150px;
    border-radius: 0.5rem;
  }
  
  .display-4 {
    font-size: calc(1.475rem + 1.0vw);
  }

  .lead {
    font-size: 0.9rem;
  }

  .btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    border-radius: 0.2rem;
  }
}

@media (min-width: 1200px) {
  .cari {
    width: 450px;
    height: 150px;
    border-radius: 0.5rem;
  }

  .display-4 {
    font-size: calc(1.475rem + 2.0vw);
  }

  .lead {
    font-size: 1.25rem;
  }

  .btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 1.1rem;
    border-radius: 0.2rem;
  }
}

@media (min-width: 1400px) {
  .cari {
    width: 450px;
    height: 150px;
    border-radius: 0.5rem;
  }

  .box {
    height: 150px;
  }

  .display-4 {
    font-size: calc(1.475rem + 2.0vw);
  }

  .lead {
    font-size: 1.25rem;
  }

  .btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 1.3rem;
    border-radius: 0.2rem;
  }
}

*/
